doctype html
head
        meta(charset='utf-8')
        meta(http-quiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width')

        //link(rel='shortcut icon' href='img/favicon.ico')
        link(rel='stylesheet' href='css/bootstrap.min.css')
        link(rel='stylesheet' href='css/style.css')

        script(src='js/libs/jquery.min.js')
        script(src='socket.io/socket.io.js')
        script(src='js/libs/underscore.js')
        script(src='js/libs/backbone.js')
        script(src='js/libs/bootstrap.min.js')
        script(data-main='js/main' src='js/libs/require.js')
        script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')

        title webMoves
    body
        div(id='channels' class='overlay')
            h1 add channels
            p
                a(class='moves') moves
        div(id='mapCanvas')
        a(id='authButton' class='overlay' data-toggle='modal')
        div(id='navButton' class='btn-group dopup')
            button(type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown')
                Menu
                span(class='caret')
            ul(id='navMenu' class='dropdown-menu pull-down')
                li
                    a(href='#login') Login
                li
                    a(href='#faq') FAQ
                li
                    a(href='#terms') Disclaimer
                li
                    a(href='#madeWidth') Made width...